/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
 @font-face {
  font-family: 'indexFont';
  src: url('../fonts/Sora-VariableFont_wght.ttf');
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1420px;
}



@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items:center;
  font-family: "indexFont", sans-serif;
  margin: 24px 0;
}

/* .button {
  background-color: rgba(144, 202, 249, 0.3);
}

.button:hover {
  background-color: rgba(144, 202, 249, 0.7);
} */

.heroPrimary {
  background-color: white;
}

.container {
margin: 0 1.25rem;
padding: 0;
}

.container h2 {
  margin: 0;
  color: #334155;
  text-align: left;
  position: inherit;
  font-size: 3.75rem;
  font-family: "indexFont", sans-serif;
  font-weight: bold;
  letter-spacing: 0px;
}

.container .slogan .hero__title span{
  background: linear-gradient(90deg, orange, #ff4500);
  background-clip: text;
  color: transparent;
  animation: fontGradient 7s linear infinite;
}

@keyframes fontGradient {
  to{
    filter: hue-rotate(360deg);
  }
}
.container .slogan .hero__subtitle {
  font-size: 2.25rem;
  color: #757575;
  white-space: nowrap;
}

.container .hero__subtitle span{
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--ifm-color-primary-light);
  /* #2196f3 */
}

.container .slogan {
  margin: 7.625rem 0;
}

.blogVersion {
  color: black;
  display: flex;
  justify-content: left;
}
.blogVersion div {
  font-family: "indexFont", sans-serif;
  padding: 0 0.75rem;
  border: solid var(--ifm-color-primary-lighter) 2px;/*rgb(66, 165, 245) */
  border-radius: .5rem;
}

.indexDesk {
  white-space: wrap;
  width: calc(1420px - 599.427px);
  height: 574px;
}
